.filter-menu {
  position: absolute;
  top: 59%;
  left: 17.25%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-block: 27px;
  z-index: 100;
  width: 70%;
  max-width: 215px;

  .filter-field {
    margin-bottom: 15px;

    label {
      color: #545f7d;
      font-weight: 400;
      display: block;
      margin-bottom: 5px;
    }

    input,
    select {
      color: #545f7d;
      outline: none;
      width: 100%;
      box-sizing: border-box;
      font-weight: lighter;
      padding: 9px;
      padding-inline: 15px;
      border: 1px solid #e5e5e5;
      border-radius: 6px;
      color: #545f7d;
      font-weight: 500;
    }
  }

  .filter-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10%;

    button {
      width: 100%;
      padding: 10px 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;

      &:first-child {
        background-color: #fff;
        border: 1px solid #545f7d;
        color: #545f7d;
      }

      &:last-child {
        background-color: #39cdcc;
        color: #fff;
      }
    }
  }
}
